In [1]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///Chinook.db")

print(db.dialect)
print(db.get_usable_table_names())
print(db.run("SELECT * FROM Artist;"))

sqlite
['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']
[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains'), (6, 'Antônio Carlos Jobim'), (7, 'Apocalyptica'), (8, 'Audioslave'), (9, 'BackBeat'), (10, 'Billy Cobham'), (11, 'Black Label Society'), (12, 'Black Sabbath'), (13, 'Body Count'), (14, 'Bruce Dickinson'), (15, 'Buddy Guy'), (16, 'Caetano Veloso'), (17, 'Chico Buarque'), (18, 'Chico Science & Nação Zumbi'), (19, 'Cidade Negra'), (20, 'Cláudio Zoli'), (21, 'Various Artists'), (22, 'Led Zeppelin'), (23, 'Frank Zappa & Captain Beefheart'), (24, 'Marcos Valle'), (25, 'Milton Nascimento & Bebeto'), (26, 'Azymuth'), (27, 'Gilberto Gil'), (28, 'João Gilberto'), (29, 'Bebel Gilberto'), (30, 'Jorge Vercilo'), (31, 'Baby Consuelo'), (32, 'Ney Matogrosso'), (33, 'Luiz Melodia'), (34, 'Nando Reis'), (35, 'Pedro Luís & A Parede'), (36, 'O Rappa'), (37, 'Ed Motta'), (38, 'Banda Black Rio'), (39, 'Fernanda Porto'), (40, 'Os Cariocas'), (41, 'Elis Regina'), (42, 'Milton Nascimento'), (43, 'A Cor Do Som'), (44, 'Kid Abelha'), (45, 'Sandra De Sá'), (46, 'Jorge Ben'), (47, 'Hermeto Pascoal'), (48, 'Barão Vermelho'), (49, 'Edson, DJ Marky & DJ Patife Featuring Fernanda Porto'), (50, 'Metallica'), (51, 'Queen'), (52, 'Kiss'), (53, 'Spyro Gyra'), (54, 'Green Day'), (55, 'David Coverdale'), (56, 'Gonzaguinha'), (57, 'Os Mutantes'), (58, 'Deep Purple'), (59, 'Santana'), (60, 'Santana Feat. Dave Matthews'), (61, 'Santana Feat. Everlast'), (62, 'Santana Feat. Rob Thomas'), (63, 'Santana Feat. Lauryn Hill & Cee-Lo'), (64, 'Santana Feat. The Project G&B'), (65, 'Santana Feat. Maná'), (66, 'Santana Feat. Eagle-Eye Cherry'), (67, 'Santana Feat. Eric Clapton'), (68, 'Miles Davis'), (69, 'Gene Krupa'), (70, 'Toquinho & Vinícius'), (71, 'Vinícius De Moraes & Baden Powell'), (72, 'Vinícius De Moraes'), (73, 'Vinícius E Qurteto Em Cy'), (74, 'Vinícius E Odette Lara'), (75, 'Vinicius, Toquinho & Quarteto Em Cy'), (76, 'Creedence Clearwater Revival'), (77, 'Cássia Eller'), (78, 'Def Leppard'), (79, 'Dennis Chambers'), (80, 'Djavan'), (81, 'Eric Clapton'), (82, 'Faith No More'), (83, 'Falamansa'), (84, 'Foo Fighters'), (85, 'Frank Sinatra'), (86, 'Funk Como Le Gusta'), (87, 'Godsmack'), (88, "Guns N' Roses"), (89, 'Incognito'), (90, 'Iron Maiden'), (91, 'James Brown'), (92, 'Jamiroquai'), (93, 'JET'), (94, 'Jimi Hendrix'), (95, 'Joe Satriani'), (96, 'Jota Quest'), (97, 'João Suplicy'), (98, 'Judas Priest'), (99, 'Legião Urbana'), (100, 'Lenny Kravitz'), (101, 'Lulu Santos'), (102, 'Marillion'), (103, 'Marisa Monte'), (104, 'Marvin Gaye'), (105, 'Men At Work'), (106, 'Motörhead'), (107, 'Motörhead & Girlschool'), (108, 'Mônica Marianno'), (109, 'Mötley Crüe'), (110, 'Nirvana'), (111, 'O Terço'), (112, 'Olodum'), (113, 'Os Paralamas Do Sucesso'), (114, 'Ozzy Osbourne'), (115, 'Page & Plant'), (116, 'Passengers'), (117, "Paul D'Ianno"), (118, 'Pearl Jam'), (119, 'Peter Tosh'), (120, 'Pink Floyd'), (121, 'Planet Hemp'), (122, 'R.E.M. Feat. Kate Pearson'), (123, 'R.E.M. Feat. KRS-One'), (124, 'R.E.M.'), (125, 'Raimundos'), (126, 'Raul Seixas'), (127, 'Red Hot Chili Peppers'), (128, 'Rush'), (129, 'Simply Red'), (130, 'Skank'), (131, 'Smashing Pumpkins'), (132, 'Soundgarden'), (133, 'Stevie Ray Vaughan & Double Trouble'), (134, 'Stone Temple Pilots'), (135, 'System Of A Down'), (136, 'Terry Bozzio, Tony Levin & Steve Stevens'), (137, 'The Black Crowes'), (138, 'The Clash'), (139, 'The Cult'), (140, 'The Doors'), (141, 'The Police'), (142, 'The Rolling Stones'), (143, 'The Tea Party'), (144, 'The Who'), (145, 'Tim Maia'), (146, 'Titãs'), (147, 'Battlestar Galactica'), (148, 'Heroes'), (149, 'Lost'), (150, 'U2'), (151, 'UB40'), (152, 'Van Halen'), (153, 'Velvet Revolver'), (154, 'Whitesnake'), (155, 'Zeca Pagodinho'), (156, 'The Office'), (157, 'Dread Zeppelin'), (158, 'Battlestar Galactica (Classic)'), (159, 'Aquaman'), (160, 'Christina Aguilera featuring BigElf'), (161, "Aerosmith & Sierra Leone's Refugee Allstars"), (162, 'Los Lonely Boys'), (163, 'Corinne Bailey Rae'), (164, 'Dhani Harrison & Jakob Dylan'), (165, 'Jackson Browne'), (166, 'Avril Lavigne'), (167, 'Big & Rich'), (168, "Youssou N'Dour"), (169, 'Black Eyed Peas'), (170, 'Jack Johnson'), (171, 'Ben Harper'), (172, 'Snow Patrol'), (173, 'Matisyahu'), (174, 'The Postal Service'), (175, 'Jaguares'), (176, 'The Flaming Lips'), (177, "Jack's Mannequin & Mick Fleetwood"), (178, 'Regina Spektor'), (179, 'Scorpions'), (180, 'House Of Pain'), (181, 'Xis'), (182, 'Nega Gizza'), (183, 'Gustavo & Andres Veiga & Salazar'), (184, 'Rodox'), (185, 'Charlie Brown Jr.'), (186, 'Pedro Luís E A Parede'), (187, 'Los Hermanos'), (188, 'Mundo Livre S/A'), (189, 'Otto'), (190, 'Instituto'), (191, 'Nação Zumbi'), (192, 'DJ Dolores & Orchestra Santa Massa'), (193, 'Seu Jorge'), (194, 'Sabotage E Instituto'), (195, 'Stereo Maracana'), (196, 'Cake'), (197, 'Aisha Duo'), (198, 'Habib Koité and Bamada'), (199, 'Karsh Kale'), (200, 'The Posies'), (201, 'Luciana Souza/Romero Lubambo'), (202, 'Aaron Goldberg'), (203, 'Nicolaus Esterhazy Sinfonia'), (204, 'Temple of the Dog'), (205, 'Chris Cornell'), (206, 'Alberto Turco & Nova Schola Gregoriana'), (207, 'Richard Marlow & The Choir of Trinity College, Cambridge'), (208, 'English Concert & Trevor Pinnock'), (209, 'Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker'), (210, 'Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer'), (211, 'Wilhelm Kempff'), (212, 'Yo-Yo Ma'), (213, 'Scholars Baroque Ensemble'), (214, 'Academy of St. Martin in the Fields & Sir Neville Marriner'), (215, 'Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner'), (216, 'Berliner Philharmoniker, Claudio Abbado & Sabine Meyer'), (217, 'Royal Philharmonic Orchestra & Sir Thomas Beecham'), (218, 'Orchestre Révolutionnaire et Romantique & John Eliot Gardiner'), (219, 'Britten Sinfonia, Ivor Bolton & Lesley Garrett'), (220, 'Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti'), (221, 'Sir Georg Solti & Wiener Philharmoniker'), (222, 'Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair'), (223, 'London Symphony Orchestra & Sir Charles Mackerras'), (224, 'Barry Wordsworth & BBC Concert Orchestra'), (225, 'Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker'), (226, 'Eugene Ormandy'), (227, 'Luciano Pavarotti'), (228, 'Leonard Bernstein & New York Philharmonic'), (229, 'Boston Symphony Orchestra & Seiji Ozawa'), (230, 'Aaron Copland & London Symphony Orchestra'), (231, 'Ton Koopman'), (232, 'Sergei Prokofiev & Yuri Temirkanov'), (233, 'Chicago Symphony Orchestra & Fritz Reiner'), (234, 'Orchestra of The Age of Enlightenment'), (235, 'Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra'), (236, 'James Levine'), (237, 'Berliner Philharmoniker & Hans Rosbaud'), (238, 'Maurizio Pollini'), (239, 'Academy of St. Martin in the Fields, Sir Neville Marriner & William Bennett'), (240, 'Gustav Mahler'), (241, 'Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos'), (242, 'Edo de Waart & San Francisco Symphony'), (243, 'Antal Doráti & London Symphony Orchestra'), (244, 'Choir Of Westminster Abbey & Simon Preston'), (245, 'Michael Tilson Thomas & San Francisco Symphony'), (246, 'Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker'), (247, "The King's Singers"), (248, 'Berliner Philharmoniker & Herbert Von Karajan'), (249, 'Sir Georg Solti, Sumi Jo & Wiener Philharmoniker'), (250, "Christopher O'Riley"), (251, 'Fretwork'), (252, 'Amy Winehouse'), (253, 'Calexico'), (254, 'Otto Klemperer & Philharmonia Orchestra'), (255, 'Yehudi Menuhin'), (256, 'Philharmonia Orchestra & Sir Neville Marriner'), (257, 'Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart'), (258, 'Les Arts Florissants & William Christie'), (259, 'The 12 Cellists of The Berlin Philharmonic'), (260, 'Adrian Leaper & Doreen de Feis'), (261, 'Roger Norrington, London Classical Players'), (262, "Charles Dutoit & L'Orchestre Symphonique de Montréal"), (263, 'Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir'), (264, "Kent Nagano and Orchestre de l'Opéra de Lyon"), (265, 'Julian Bream'), (266, 'Martin Roscoe'), (267, 'Göteborgs Symfoniker & Neeme Järvi'), (268, 'Itzhak Perlman'), (269, 'Michele Campanella'), (270, 'Gerald Moore'), (271, 'Mela Tenenbaum, Pro Musica Prague & Richard Kapp'), (272, 'Emerson String Quartet'), (273, 'C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu'), (274, 'Nash Ensemble'), (275, 'Philip Glass Ensemble')]

In [2]:
# Analyze through pandas
import pandas as pd
import sqlite3
conn = sqlite3.connect("Chinook.db")
first_table = pd.read_sql("SELECT * FROM Album",conn)
first_table[:5]

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [3]:
first_table[:10]

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3
5        6                     Jagged Little Pill         4
6        7                               Facelift         5
7        8                         Warner 25 Anos         6
8        9         Plays Metallica By Four Cellos         7
9       10                             Audioslave         8

In [4]:
second_table = pd.read_sql("SELECT * FROM Artist",conn)
second_table[:10]

   ArtistId                  Name
0         1                 AC/DC
1         2                Accept
2         3             Aerosmith
3         4     Alanis Morissette
4         5       Alice In Chains
5         6  Antônio Carlos Jobim
6         7          Apocalyptica
7         8            Audioslave
8         9              BackBeat
9        10          Billy Cobham

In [5]:
third_table = pd.read_sql("SELECT * FROM Customer",conn)
third_table[:5]

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4

In [6]:
third_table.shape

(59, 13)

In [7]:
fourth_table = pd.read_sql("SELECT * FROM Employee",conn)
fourth_table[:5]

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [8]:
# Lets Build SQL AGENT NOW
# from typing import Any

# from langchain_core.messages import ToolMessage
# from langchain_core.runnables import RunnableLambda, RunnableWithFallbacks
# from langgraph.prebuilt import ToolNode

In [9]:
from langchain_core.messages import ToolMessage
from langchain_core.runnables import RunnableLambda, RunnableWithFallbacks
from langgraph.prebuilt import ToolNode
from typing import Any
# If a tool call fails,
# the fallback will return an error message to the agent instead of breaking the workflow.
# Accepts a list of tools (these are usually functions or API wrappers).
# Wraps them in a ToolNode, which is a LangGraph component that handles tool execution.

# Adds a fallback using .with_fallbacks(...):
# If the tool raises an exception, the fallback function handle_tool_error() is triggered.
# The exception_key="error" indicates the key in the state where the exception is passed.
def create_tool_node_with_fallback(tools:list) -> RunnableWithFallbacks[Any,dict]:
    return ToolNode(tools).with_fallbacks(
        [RunnableLambda(handle_tool_error)], exception_key="error"
    )

# This function:
# Is triggered when the tool execution fails.
# It receives the current state (a dict holding context including messages and possibly an error).
# Extracts the last tool_calls from the messages.
# Returns a response to the agent containing ToolMessage objects — one for each failed tool call.
def handle_tool_error(state) -> dict:
    error = state.get("error")
    tool_calls = state["messages"][-1].tool_calls
    return {
        "messages": [
            ToolMessage(
                content=f"Error: {repr(error)}\n please fix your mistakes.",
                tool_call_id=tc["id"],
            )
            for tc in tool_calls
        ]
    }

In [10]:
# This code demonstrates how to use LangChain's SQLDatabaseToolkit to interact with a SQL database using LLM-powered tools. 
# Specifically, it invokes two tools:
# sql_db_list_tables – lists all tables in the database.
# sql_db_schema – gets the schema of a specific table (in this case, the "Artist" table).
# 
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain_openai import ChatOpenAI
import os

llm = ChatOpenAI(
    openai_api_base="https://llmfoundry.straive.com/openai/v1/",
    openai_api_key=f'{os.environ["LLMFOUNDRY_TOKEN"]}:my-test-project',
    model="gpt-4o-mini",
)
toolkit = SQLDatabaseToolkit(db=db, llm=llm)
tools = toolkit.get_tools()

#picks the specific tools from the list of tools SQLDBToolkit
list_tables_tool = next(tool for tool in tools if tool.name == "sql_db_list_tables")
get_schema_tool = next(tool for tool in tools if tool.name == "sql_db_schema")

In [11]:
tools

[QuerySQLDatabaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x00000248A6E74E60>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x00000248A6E74E60>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x00000248A6E74E60>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x00000248A6E74E60>, llm=ChatOpenAI(client=<openai.resources.chat.completions.completions.Completions object at 0x00000248AC982330>, async_client=<openai.resources.chat.completions.completions.AsyncCompletions object at 0x00000248AC998B90>, root_client=<openai.OpenAI object at 0x00000248ABE1BF50>, root_async_client=<openai.AsyncOpenAI object at 0x00000248AC9823F0>, model_name='gpt-4o-mini', model_kwargs={}, openai_api_key=SecretStr('**********'), openai_api_base='https://llmfoundry.straive.com/openai/v1/'), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatOpenAI(client=<openai.resources.chat.completions.completions.Completions object at 0x00000248AC982330>, async_client=<openai.resources.chat.completions.completions.AsyncCompletions object at 0x00000248AC998B90>, root_client=<openai.OpenAI object at 0x00000248ABE1BF50>, root_async_client=<openai.AsyncOpenAI object at 0x00000248AC9823F0>, model_name='gpt-4o-mini', model_kwargs={}, openai_api_key=SecretStr('**********'), openai_api_base='https://llmfoundry.straive.com/openai/v1/'), output_parser=StrOutputParser(), llm_kwargs={}))]

In [12]:
# # This @tool decorator converts a Python function into a 
# # LangChain-compatible tool that can be used by agents or nodes in LangGraph.
# from langchain_core.tools import tool
# @tool
# def db_query_tool(query: str) -> str:
#     """
#     Execute a SQL query against the database and get back the result.
#     If the query is not correct, an error message will be returned.
#     If an error is returned, rewrite the query, check the query, and try again.
#     """
#     result = db.run_no_throw(query)
#     print(result)
#     if not result:
#         return "Error: Query failed. Please rewrite your query and try again."
#     return result

# print(db_query_tool.invoke("SELECT * FROM Artist LIMIT 10;"))

In [51]:
from langchain_core.tools import tool
from sqlalchemy import text

# @tool
# def db_query_tool(query: str) -> str:
#     """
#     Execute a SQL query against the database and return the full results.
#     """
#     try:
#         with db._engine.connect() as connection:
#             result = connection.execute(text(query))
#             rows = result.fetchall()

#             if not rows:
#                 return "Query succeeded but returned no results."

#             # Optional: Format as table
#             column_names = result.keys()
#             formatted_rows = [dict(zip(column_names, row)) for row in rows]

#             return "\n".join(str(row) for row in formatted_rows)

#     except Exception as e:
#         return f"Error executing query: {str(e)}"

import json

@tool
def db_query_tool(query: str) -> str:
    """
    Execute a SQL query against the database and return results as JSON.
    """
    
    try:
        with db._engine.connect() as connection:
            print(f"[Running query]: {query}")
            result = connection.execute(text(query))
            rows = result.fetchall()
            if not rows:
                return "No results."

            column_names = result.keys()
            formatted_rows = [dict(zip(column_names, row)) for row in rows]

            return json.dumps(formatted_rows, indent=2)  # Structured output

    except Exception as e:
        return f"Error executing query: {str(e)}"

In [60]:
print(db_query_tool.invoke("SELECT COUNT(*) AS AlbumCount FROM Album WHERE Title LIKE 'B%'"))

[Running query]: SELECT COUNT(*) AS AlbumCount FROM Album WHERE Title LIKE 'B%'
[
  {
    "AlbumCount": 35
  }
]

In [53]:
from langchain_core.prompts import ChatPromptTemplate

query_check_system = """You are a SQL expert with a strong attention to detail.
Double check the SQLite query for common mistakes, including:
- Using NOT IN with NULL values
- Using UNION when UNION ALL should have been used
- Using BETWEEN for exclusive ranges
- Data type mismatch in predicates
- Properly quoting identifiers
- Using the correct number of arguments for functions
- Casting to the correct data type
- Using the proper columns for joins

If there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.

You will call the appropriate tool to execute the query after running this check."""


#This defines a chat prompt with:
# A system message (rules for behavior).
# A placeholder for dynamic content ({messages}
query_check_prompt = ChatPromptTemplate.from_messages(
    [("system", query_check_system), ("placeholder", "{messages}")]
)

# | (pipe operator): Chains the prompt template into a tool-bound LLM.

# bind_tools(...): Attaches tools to the LLM, allowing it to choose and call a tool based on the prompt.

# tool_choice="required": The LLM must pick one of the listed tools (in this case, only db_query_tool).
query_check = query_check_prompt | llm.bind_tools(
    [db_query_tool], tool_choice="required"
)

query_check.invoke({"messages": [("user", "SELECT * FROM Artist LIMIT 10;")]})

AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_UqFUWuEqCLeEliIejz5ezbz8', 'function': {'arguments': '{"query":"SELECT * FROM Artist LIMIT 10;"}', 'name': 'db_query_tool'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 22, 'prompt_tokens': 187, 'total_tokens': 209, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-mini-2024-07-18', 'system_fingerprint': 'fp_34a54ae93c', 'id': 'chatcmpl-Bk7KrK8T7CNbeM5mgT8PP35nnvjTW', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run--6668d2be-0f62-4a38-b589-7c9233decc58-0', tool_calls=[{'name': 'db_query_tool', 'args': {'query': 'SELECT * FROM Artist LIMIT 10;'}, 'id': 'call_UqFUWuEqCLeEliIejz5ezbz8', 'type': 'tool_call'}], usage_metadata={'input_tokens': 187, 'output_tokens': 22, 'total_tokens': 209, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}})

In [54]:
from typing_extensions import TypedDict
from typing import Annotated, Literal
from langgraph.graph.message import AnyMessage, add_messages

# State: Defines the state object passed between nodes in the graph.
# messages: A list of messages (e.g., user messages, tool calls, model replies).
# add_messages: A LangGraph utility that automatically appends new messages to the state.


# 
class State(TypedDict):
    messages: Annotated[list[AnyMessage], add_messages]

## Graph Initialization
# Creates a new LangGraph where each node will receive and return a State.
from langgraph.graph import END, StateGraph, START
workflow = StateGraph(State)

from langchain_core.messages import AIMessage
# This function simulates a tool call request:
# It returns an AIMessage that doesn’t say anything (content=""), but includes a tool_calls field.
# This tool call instructs the agent (or tool node) to run sql_db_list_tables with no arguments.
# This message will be processed by a ToolNode or similar handler in the graph.

def first_tool_call(state: State) -> dict[str, list[AIMessage]]:
    return {
        "messages": [
            AIMessage(
                content="",
                tool_calls=[
                    {
                        "name": "sql_db_list_tables",
                        "args": {},
                        "id": "tool_abcd123",
                    }
                ],
            )
        ]
    }

# Takes the latest message in the conversation.
# Passes it to query_check, which is your tool-bound LLM that:
# Checks for SQL mistakes.
# Fixes the query if needed.
# Calls db_query_tool to run it.
# Wraps the result in a list of AIMessage and returns it to be added to the state.

def model_check_query(state: State) -> dict[str, list[AIMessage]]:
    return {"messages": [query_check.invoke({"messages": [state["messages"][-1]]})]}

workflow.add_node("first_tool_call", first_tool_call)

# Add nodes for the first two tools
workflow.add_node(
    "list_tables_tool", create_tool_node_with_fallback([list_tables_tool])
)
workflow.add_node("get_schema_tool", create_tool_node_with_fallback([get_schema_tool]))

# Add a node for a model to choose the relevant tables based on the question and available tables
model_get_schema = llm.bind_tools(
    [get_schema_tool]
)
workflow.add_node(
    "model_get_schema",
    lambda state: {
        "messages": [model_get_schema.invoke(state["messages"])],
    },
)

In [55]:
from pydantic import BaseModel, Field
class SubmitFinalAnswer(BaseModel):
    """Submit the final answer to the user based on the query results."""

    final_answer: str = Field(..., description="The final answer to the user")


# Add a node for a model to generate a query based on the question and schema
query_gen_system = """You are a SQL expert with a strong attention to detail.

Given an input question, output a syntactically correct SQLite query to run, then look at the results of the query and return the answer.

DO NOT call any tool besides SubmitFinalAnswer to submit the final answer.

When generating the query:

Output the SQL query that answers the input question without a tool call.

Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.

If you get an error while executing a query, rewrite the query and try again.

If you get an empty result set, you should try to rewrite the query to get a non-empty result set.
NEVER make stuff up if you don't have enough information to answer the query... just say you don't have enough information.

If you have enough information to answer the input question, simply invoke the appropriate tool to submit the final answer to the user.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database."""
query_gen_prompt = ChatPromptTemplate.from_messages(
    [("system", query_gen_system), ("placeholder", "{messages}")]
)
query_gen = query_gen_prompt | llm.bind_tools(
    [SubmitFinalAnswer]
)


def query_gen_node(state: State):
    message = query_gen.invoke(state)

    # Sometimes, the LLM will hallucinate and call the wrong tool. We need to catch this and return an error message.
    tool_messages = []
    if message.tool_calls:
        for tc in message.tool_calls:
            if tc["name"] != "SubmitFinalAnswer":
                tool_messages.append(
                    ToolMessage(
                        content=f"Error: The wrong tool was called: {tc['name']}. Please fix your mistakes. Remember to only call SubmitFinalAnswer to submit the final answer. Generated queries should be outputted WITHOUT a tool call.",
                        tool_call_id=tc["id"],
                    )
                )
    else:
        tool_messages = []
    return {"messages": [message] + tool_messages}


workflow.add_node("query_gen", query_gen_node)

# Add a node for the model to check the query before executing it
workflow.add_node("correct_query", model_check_query)

# Add node for executing the query
workflow.add_node("execute_query", create_tool_node_with_fallback([db_query_tool]))


# Define a conditional edge to decide whether to continue or end the workflow
def should_continue(state: State) -> Literal[END, "correct_query", "query_gen"]:
    messages = state["messages"]
    last_message = messages[-1]
    # If there is a tool call, then we finish
    if getattr(last_message, "tool_calls", None):
        return END
    if last_message.content.startswith("Error:"):
        return "query_gen"
    else:
        return "correct_query"


# Specify the edges between the nodes
workflow.add_edge(START, "first_tool_call")
workflow.add_edge("first_tool_call", "list_tables_tool")
workflow.add_edge("list_tables_tool", "model_get_schema")
workflow.add_edge("model_get_schema", "get_schema_tool")
workflow.add_edge("get_schema_tool", "query_gen")
workflow.add_conditional_edges(
    "query_gen",
    should_continue,
)
workflow.add_edge("correct_query", "execute_query")
workflow.add_edge("execute_query", "query_gen")

# Compile the workflow into a runnable
app = workflow.compile()

In [56]:
result = app.stream(
    {"messages": [("user", "How may Album that start with letter B")]}
)

In [49]:
question = 'How may Album that start with letter B'

In [57]:
for step in app.stream({"messages": [{"role": "user", "content": question}]}, stream_mode="values"):
    for msg in step["messages"]:
        if msg.type == "tool":
            print("🔧 TOOL CALLED:", msg.tool_call_id)
            print("🔍 QUERY SENT:\n", msg.content)
    step["messages"][-1].pretty_print()

================================ Human Message =================================

How may Album that start with letter B
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (tool_abcd123)
 Call ID: tool_abcd123
  Args:
🔧 TOOL CALLED: tool_abcd123
🔍 QUERY SENT:
 Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
🔧 TOOL CALLED: tool_abcd123
🔍 QUERY SENT:
 Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_YoAMWw6GDFiQO2Gp8ib7jx5m)
 Call ID: call_YoAMWw6GDFiQO2Gp8ib7jx5m
  Args:
    table_names: Album
🔧 TOOL CALLED: tool_abcd123
🔍 QUERY SENT:
 Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
🔧 TOOL CALLED: call_YoAMWw6GDFiQO2Gp8ib7jx5m
🔍 QUERY SENT:

CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/
🔧 TOOL CALLED: tool_abcd123
🔍 QUERY SENT:
 Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
🔧 TOOL CALLED: call_YoAMWw6GDFiQO2Gp8ib7jx5m
🔍 QUERY SENT:

CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/
================================== Ai Message ==================================
Tool Calls:
  SubmitFinalAnswer (call_8ZGk6iByyfJFIVMSIMUxT2LM)
 Call ID: call_8ZGk6iByyfJFIVMSIMUxT2LM
  Args:
    final_answer: There are 2 albums that start with the letter 'B':
1. Balls to the Wall
2. For Those About To Rock We Salute You.

In [32]:
for event in app.stream(
    {"messages": [("user", "How may Album that start with letter B")]}
):
    print(event)

{'first_tool_call': {'messages': [AIMessage(content='', additional_kwargs={}, response_metadata={}, id='c2d17e4b-4948-4cd0-a5f1-a1bdd04fa647', tool_calls=[{'name': 'sql_db_list_tables', 'args': {}, 'id': 'tool_abcd123', 'type': 'tool_call'}])]}}
{'list_tables_tool': {'messages': [ToolMessage(content='Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track', name='sql_db_list_tables', id='b5f182de-dc1e-4280-b62c-b825ca306487', tool_call_id='tool_abcd123')]}}
{'model_get_schema': {'messages': [AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_YoAMWw6GDFiQO2Gp8ib7jx5m', 'function': {'arguments': '{"table_names":"Album"}', 'name': 'sql_db_schema'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 16, 'prompt_tokens': 172, 'total_tokens': 188, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-mini-2024-07-18', 'system_fingerprint': 'fp_34a54ae93c', 'id': 'chatcmpl-Bk7FBuiWi3EzcbsovMIOkj1ip0Juq', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run--5c39c4ce-73a4-4514-9bbd-bbddcea9779d-0', tool_calls=[{'name': 'sql_db_schema', 'args': {'table_names': 'Album'}, 'id': 'call_YoAMWw6GDFiQO2Gp8ib7jx5m', 'type': 'tool_call'}], usage_metadata={'input_tokens': 172, 'output_tokens': 16, 'total_tokens': 188, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}})]}}
{'get_schema_tool': {'messages': [ToolMessage(content='\nCREATE TABLE "Album" (\n\t"AlbumId" INTEGER NOT NULL, \n\t"Title" NVARCHAR(160) NOT NULL, \n\t"ArtistId" INTEGER NOT NULL, \n\tPRIMARY KEY ("AlbumId"), \n\tFOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")\n)\n\n/*\n3 rows from Album table:\nAlbumId\tTitle\tArtistId\n1\tFor Those About To Rock We Salute You\t1\n2\tBalls to the Wall\t2\n3\tRestless and Wild\t2\n*/', name='sql_db_schema', id='e9c4c50d-f28a-41b3-890a-d4669f4387e9', tool_call_id='call_YoAMWw6GDFiQO2Gp8ib7jx5m')]}}
{'query_gen': {'messages': [AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_8ZGk6iByyfJFIVMSIMUxT2LM', 'function': {'arguments': '{"final_answer":"There are 2 albums that start with the letter \'B\': \\n1. Balls to the Wall\\n2. For Those About To Rock We Salute You."}', 'name': 'SubmitFinalAnswer'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 50, 'prompt_tokens': 502, 'total_tokens': 552, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-mini-2024-07-18', 'system_fingerprint': 'fp_62a23a81ef', 'id': 'chatcmpl-Bk7FCeAok7AkJQ4MF3SOwXCF7R7vJ', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run--5b52d542-9782-4423-b0f4-01aad659f9dd-0', tool_calls=[{'name': 'SubmitFinalAnswer', 'args': {'final_answer': "There are 2 albums that start with the letter 'B': \n1. Balls to the Wall\n2. For Those About To Rock We Salute You."}, 'id': 'call_8ZGk6iByyfJFIVMSIMUxT2LM', 'type': 'tool_call'}], usage_metadata={'input_tokens': 502, 'output_tokens': 50, 'total_tokens': 552, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}})]}}

In [58]:
question = "How may Album that start with letter B"

for step in app.stream(
    {"messages": [{"role": "user", "content": question}]},
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

How may Album that start with letter B
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (tool_abcd123)
 Call ID: tool_abcd123
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_YoAMWw6GDFiQO2Gp8ib7jx5m)
 Call ID: call_YoAMWw6GDFiQO2Gp8ib7jx5m
  Args:
    table_names: Album
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/
================================== Ai Message ==================================
Tool Calls:
  SubmitFinalAnswer (call_8ZGk6iByyfJFIVMSIMUxT2LM)
 Call ID: call_8ZGk6iByyfJFIVMSIMUxT2LM
  Args:
    final_answer: There are 2 albums that start with the letter 'B':
1. Balls to the Wall
2. For Those About To Rock We Salute You.

In [38]:
from IPython.display import Image, display
from langchain_core.runnables.graph import MermaidDrawMethod

display(
    Image(
        app.get_graph().draw_mermaid_png(
            draw_method=MermaidDrawMethod.PYPPETEER  # ✅ Use local rendering
        )
    )
)

RuntimeError: asyncio.run() cannot be called from a running event loop